robot {

    NwuToNed = [0.0, 0.0, 0.0, 3.14159, 0.0, 0.0];
    vehicle_to_camera = [0.0, 0.0, 0.0, 0.0, 0.0, 3.14159/2];

}

simulator {

    chi2Thresh = 30;
    landmarkThresh = 0.75;

    numConverge = 5;
    lambda = 0.0;
    epsilon = .0001;

    updateRate = 1;
    solveRate = 1;
    batchSolveRate = 100;

    useIncremental = true;

    knownDataAssoc = true;
    debug = 0;
    autoRun = true;
    tickLength_s = .2; // 100 ms
    loop = false;
    waittime = 0;
}

