camera {

   fx     = 525.2;
   fy     = 525.4;
   cx     = 298.5;
   cy     = 217.1;
   aspect = 1.33333333333;

}

target {

   #in meters
   width = .142;

}

simulator {

    chi2Thresh = 30;
    landmarkThresh = 0.75;

    numConverge = 5;
    lambda = 0.0;
    epsilon = .0001;

    updateRate = 1;
    solveRate = 1;
    batchSolveRate = 100;

    useIncremental = true;

    knownDataAssoc = true;
    debug = 0;
    autoRun = true;
    tickLength_s = .2; // 100 ms
    loop = false;
    waittime = 0;
}

